@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Animation for clicking the rupee */
@keyframes clickAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.clickAnimation {
  animation: clickAnimation 0.2s;
}

.head-text-md {
  @apply font-heading text-5xl font-extrabold leading-[1.15] sm:text-7xl;
}

.head-text-sm {
  @apply font-heading text-3xl font-extrabold leading-[1.15] sm:text-3xl;
}

/* Toast Styles */

.my-toast {
  @apply rounded-md bg-green-500 p-3 text-white shadow-lg;
}

.my-toast-progress {
  @apply h-1 rounded-b-md bg-yellow-500;
}

/* Switch Styles */
.switch input:checked + .slider {
  transform: translateX(100%);
}
.switch input:checked {
  background-color: #4ade80;
}
.switch {
  background-color: #d1d5db;
}
.switch:hover {
  background-color: #cbd5e1;
}
